<%= form_for([@post, @post.comments.build]) do |f| %>

<div class="field">
  <div class="control">
	  <%= f.label :name %>
	  <%= f.text_field :name %>  </div>
</div>

<div class="field">
  <div class="control">
    <%= f.label :comment %>
	  <%= f.text_field :comment %>
  </div>
</div>
<%= f.submit 'Leave a comment', class: "button is-primary" %>
<% end %>